<div class="containerHome">
    <header>
        <label class="burger" for="burger">
            <input type="checkbox" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <h1 class="tituloHeader">Lavate todo!</h1>
    </header>
    <main class="container-players">
        <h2 class="tituloMain">
            Seleccionar limpiadores..
        </h2>
        <div class="personas">
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="lambi" value="/img/lambi.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/lambi.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Lambi</span>
                    </span>
                </label>
            </div>
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="facu" value="/img/facu.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/facu.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Faca</span>
                    </span>
                </label>
            </div>
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="lucho" value="/img/luchelia.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/luchelia.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Lechelia</span>
                    </span>
                </label>
            </div>
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="tibu" value="/img/tibu.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/tibu.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Tibu</span>
                    </span>
                </label>
            </div>
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="jere" value="/img/jere.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/jere.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Jere</span>
                    </span>
                </label>
            </div>
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="tomas" value="/img/tomas.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/tomas.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Tomi</span>
                    </span>
                </label>
            </div>
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="gian" value="/img/reja.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/reja.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Reja</span>
                    </span>
                </label>
            </div>
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="rebo" value="/img/reba.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/reba.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Rebo</span>
                    </span>
                </label>
            </div>
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="lauti" value="/img/lauti.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/lauti.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Mendigo</span>
                    </span>
                </label>
            </div>
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="bacha" value="/img/kelia.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/kelia.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Kelia</span>
                    </span>
                </label>
            </div>
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="franco" value="/img/franco.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/franquito.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Franquito</span>
                    </span>
                </label>
            </div>
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="bruno" value="/img/bruni.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/bruni.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Brunito</span>
                    </span>
                </label>
            </div>
            <div class="checkbox-wrapper-16">
                <label class="checkbox-wrapper">
                    <input class="checkbox-input" type="checkbox" id="mateo" value="/img/mateo.JPG">
                    <span class="checkbox-tile">
                        <span class="checkbox-icon" style="background-image: url(/img/mateo.JPG); background-size: cover; background-position: center; background-repeat: no-repeat;">

                        </span>
                        <span class="checkbox-label">Mono</span>
                    </span>
                </label>
            </div>

        </div>
    </main>
    <section class="sectionQuantity">
        <h2 class="titleQuantity">
            Cuantos limpiadores?
        </h2>
        <div class="radio-input">
            <label>
            <input value="1" name="value-radio" id="value-1" type="radio" checked="">
            <span>1</span>
            </label>
            <label>
                <input value="2" name="value-radio" id="value-2" type="radio">
            <span>2</span>
            </label>
            <label>
                <input value="3" name="value-radio" id="value-3" type="radio">
            <span>3</span>
            </label>
            <label>
                <input value="4" name="value-radio" id="value-4" type="radio">
            <span>4</span>
            </label>
            <span class="selection"></span>
        </div>

        <button class="buttonSort"> Sortear
        </button>

    </section>
</div>

<script type="module" src="/ts/home.js"></script>