<div class="containerHome">
    <header>
        <label class="burger" for="burger">
            <input type="checkbox" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <h1 class="tituloHeader">Lavate todo!</h1>
    </header>

    <section class="sectionLoosers">
        <h2 class="perdedoresTitle">Perdedores: </h2>

        <div class="loosersName">
        </div>
        <div class="returnHome">
            <button class="buttonHome"> Reiniciar sorteo
            </button>
        </div>
    </section>  

</div>

<script src="/ts/results.js"></script>